body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background: url(bg2.webp) no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    width: 420px;
    background: transparent;
    backdrop-filter: blur(18px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid grey;
    color: black;
    border-radius: 20px;
    padding: 20px 20px;
}
.container h1{
    font-size: 35px;
    text-align: center;
}
.container .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}
.input-box input{
    width: 94%;
    height: 70%;
    background: transparent;
    border: 1px solid darkgrey;
    border-radius: 30px;
    font-size: 15px;
    color: black;
    padding-left: 20px;
}
.container .rf{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.rf label input{
    accent-color: #fff;
    margin-right: 5px;
}
.rf a{
    color: black;
    margin: 5px;
}
.rf a:hover{
    text-decoration: underline;
}
.container .btn{
    width: 100%;
    height: 45px;
    background: black;
    border-radius: 30px;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}
.container .register{
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}
.register p a{
    color: black;
}
